header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:80px;
    width: 100%;
    margin:0px;
    background: linear-gradient(0deg, rgba(135, 126, 45, 0.3), rgba(135, 126, 45, 0.3)), #FF3742;
}

#coffeeHeaderText{
    color:White;
}

#search{
    background-color: white;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 15px;
}

/*Botones para elegir menu"*/
.menuButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 30px;
  border-radius: 20px;
  border:none;
  background-color: #DEDADA;
  color: white;
  font-weight: bold;
}

#dinnerB{
    width: 150px;
}

.menuButtons:focus{
 background-color: black;    
}


/*Aquí estan metidas dos grandes secciones: la del menu y la cuenta */
#menuAndOrderSection{
 display:flex;
 flex-wrap: wrap;
 margin-top: 20px;
}

/*Esta es la seccion en donde se encuentran todos los elementos del menu*/
#itemsBreakfastMenu{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

/*Estos son los elementos individuales del menu */
.itemBreakfast{
    background-color: #E4D1D1;
    height:250px;
    width:150px;
    margin: 5px;
    border-radius: 5px;
}

.cost, h5{
    font-size: 18px;
    font-family: 'Nunito-VariableFont_wght.ttf';
    text-align: center;
    margin: 3px;
}

/*Imagenes*/
.imgMenu{
    width:125px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

/*Order*/
#orderSec{
    width: 530px;
    height: 800px;
    background-color: #4B3C81;
    color:white;
}

.itemOrder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, #4B3C81, #4B3C81), #2D3887;
   
}
#orderTitle{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.addButton, .removeButton{
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

