header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:80px;
    width: 100%;
    margin:0px;
    background: linear-gradient(0deg, rgba(255, 55, 66, 0.3), rgba(255, 55, 66, 0.3)), #2D3887;
}

#coffeeHeaderText{
    color:White;
}

#search{
    background-color: white;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 15px;
}

/*Aquí estan metidas dos grandes secciones: la del menu y la cuenta */
#menuAndOrderSection{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
   }
   
/*Esta es la seccion en donde se encuentran todos los elementos del menu*/
#itemsDinnerMenu{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
}

/*Estos son los elementos individuales del menu */
.itemDinner{
    background-color: #E4D1D1;
    height:250px;
    width:150px;
    margin: 5px;
    border-radius: 5px;
}

.cost, h5{
    font-size: 18px;
    font-family: 'Nunito-VariableFont_wght.ttf';
    text-align: center;
    margin: 3px;
}


/*Imagenes*/
.imgMenu{
    width:125px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}
