header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin: 0px;
    background: linear-gradient(0deg, rgba(135, 126, 45, 0.3), rgba(135, 126, 45, 0.3)), #FF3742;
}

.imgLogo {
    width: 130px;
    margin: 10px;
    align-items: center;
  }

#coffeeHeaderText {
    color: White;
}

#search {
    background-color: white;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 15px;
}



/*Esta es la seccion en donde se encuentran todos los elementos del menu*/
#itemsBreakfastMenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*Estos son los elementos individuales del menu */
.itemBreakfast {
    background-color: #E4D1D1;
    height: 250px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.itemBreakfast:hover {
    background-color: rgba(252, 54, 28, 0.755);
}



.cost,
h5 {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 3px;
}

/*Imagenes*/
.imgMenu {
    margin: 10px;
    width: 103px;
    height: 96px;
    object-fit: cover;
    border-radius: 10px;
}