header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin: 0px;
    background: linear-gradient(0deg, rgba(135, 126, 45, 0.3), rgba(135, 126, 45, 0.3)), #FF3742;
}

.imgLogo {
    width: 130px;
    margin: 10px;
  }

#coffeeHeaderText {
    color: White;
}

#search {
    background-color: white;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 15px;
}



/*Esta es la seccion en donde se encuentran todos los elementos del menu*/
#itemsFullMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /*margin: 30px 0px 0px 20px; */
}

/*Estos son los elementos individuales del menu */
.itemBreakfast {
    background-color: #E4D1D1;
    height: 250px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemBreakfast:hover {
    background-color: rgba(252, 54, 28, 0.755);
}

.itemDinner {
    background-color: #dbd1e4;
    height: 250px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.itemDinner:hover {
    background-color: rgba(43, 5, 141, 0.782);
}

.cost,
h5 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 3px;
}

.menuAndOrderSection {
    display:flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

/*Imagenes*/
.imgMenu {
    width: 125px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}