body{
    margin:0px;
    padding:0px;
}

#loginContainer{
    background: url(../Assets/login-bg.jpg) no-repeat center center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   
}

#loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#logoLogin{
 width: 250px;
 height: 250px;
 margin: 0%;
 padding: 0%;
}

#welcome{
text-align: center;
 font-size: 35px;
 color:white;
}

#welcomeText{
 text-align: center;
 font-size: 20px;
 color:white;
 margin-top:25px;
}

#inputLogIn{
width:300px;
}

.input{
 width:250px;
 height: 30px;
 border-radius: 45px;
 border:none;
 margin-top:25px;
 margin-left:5%;
}

#loginButton{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top:30px;
    text-align: center;
}

::placeholder{
    padding-left: 20px;
}

.error{
    color:white;
    text-align: center;
    font-size: 25px;
}