#buttonsMenuSec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.filterButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}



.menuButtons {
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #b5afaf;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

#dinnerB {
    width: 150px;
}

.menuButtons:hover {
    background-color: black;
    cursor: pointer;
}

.menuButtons:focus {
    background-color: black;
}
